/* reCAPTCHA hore pod menu, so zachovanou hover animáciou */
.grecaptcha-badge {
  transform: translateY(-200px) !important; /* bola -120, teraz vyššie */
  transition: transform 0.3s ease !important;
  z-index: 9999 !important;
}

.grecaptcha-badge:hover {
  transform: translateY(-200px) scale(1.08) !important;
}
