@tailwind base;
@tailwind components;
@tailwind utilities;

/* reCAPTCHA badge – v3 hore pod menu, zachovaná hover animácia */
.grecaptcha-badge {
  position: fixed !important;
  top: 96px !important;      /* nastav si výšku – vyššie / nižšie, napr. 80–120px */
  right: 12px !important;
  left: auto !important;
  bottom: auto !important;
  z-index: 9999 !important;
}
