@tailwind base;
@tailwind components;
@tailwind utilities;

/* reCAPTCHA badge – posunutá vpravo hore pod menu, animáciu nechávame na Google */
.grecaptcha-badge {
  position: fixed !important;
  top: 110px !important;    /* výšku si môžeš doladiť (90–140px podľa oka) */
  right: 24px !important;
  bottom: auto !important;  /* zruší default bottom:0 */
}
