@tailwind base;
@tailwind components;
@tailwind utilities;

/* Presun reCAPTCHA badge hore doprava */
.grecaptcha-badge {
  bottom: auto !important;
  top: 20px !important;
  right: 20px !important;
  left: auto !important;
  z-index: 9999 !important;
}
