@tailwind base;
@tailwind components;
@tailwind utilities;

/* reCAPTCHA hore pod menu, ale s pôvodnou animáciou */
.grecaptcha-badge {
  transform: translateY(-120px) !important; /* posun nahor */
  transition: transform 0.3s ease !important;
  z-index: 9999 !important;
}

/* Pri hoveri nech badge ostane vysunutá normálne */
.grecaptcha-badge:hover {
  transform: translateY(-120px) scale(1.08) !important;
}
